.App {
  text-align: center;
  box-sizing: border-box;
}


/* For the up arrow (previous month) */
.navigationButton-107::after {
  content: "↑"; /* Up arrow */
  background-color: rgb(240, 162, 162);
  padding: 6px;
  border-radius: 5px;
  margin-right: 5px;
}

/* For the down arrow (next month) */
.navigationButton-108::before {
  content: "↓"; /* Down arrow */
  background-color: rgb(70, 7, 7);
  padding: 6px;
  border-radius: 5px;
  margin-right: 5px;
}










